<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "O nas", '#' %></li>
      <li><%= link_to "Kontakt", '#' %></li>
      <li><%= link_to "Aktualności", '#' %></li>
      <li><%= link_to "Forum", '#' %></li>
    </ul>
  </nav>
</footer>
