<header>
  <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Materiały", '#' %></li>
      <li><%= link_to "Artykuły", '#' %></li>
      <li><%= link_to "Zarejestruj się!", '#' %></li>
    </ul>
  </nav>
</header>
